@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
  font-family: 'Roboto';
  min-width: 1024px;
  min-height: 780px;
  margin: 0;

  .header {

    .header-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 91px;
      list-style: none;
      background-color: black;
      margin: 0;
      padding-right: 50px;
      padding-top: 5px;
      color: white;
      font-size: 15px;
      font-weight: 500px;

      .header-logo {
        width: 178px;
        height: 60.93px;
      }
    }
  }

  main {
    display: flex;
    max-width: 1440px;
    left: 118px;

    .navbar-side {
      position: relative;
      background-color: black;
      width: 117px;
      height: 900px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 0;

      .side-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 34px;
        top: 150px;

        .sidebar-icon {
          width: 50px;
          height: 50px;
          margin-bottom: 20px;
        }
      }

      .copyright {
        color: white;
        font-size: 12px;
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 560px;
      }
    }

    .main-content {
      margin-left: 30px;

      .error-message {
        margin-top : 50px;
        margin-left: 20px;
        font-size: large;

      }
    }

    .user-datas {
      display: flex;
    }

    .graphs {
      margin-right: 20px;

      .daily-graph {
        width: 100%;
        max-width: 750px;
        padding-top: 18px;
        background-color: #FBFBFB;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      .other-graphs {
        display: flex;
        gap: 20px;

        .duration-graph {
          width: 200px;
          height: 200px;
          background-color: #FF0000;
          border-radius: 10px;
          position: relative;
        }

        .performance-graph {
          width: 200px;
          height: 200px;
          background-color: #282D30;
          border-radius: 10px;
        }

        .score-graph {
          width: 200px;
          height: 200px;
          background-color: #FBFBFB;
          border-radius: 10px;
          position: relative;
        }
      }
    }

    .nutriments-container {
      display: flex;
      flex-direction: column;
      height: 600px;
      justify-content: space-between;

      .card {
        display: flex;
        background-color: #FBFBFB;
        width: 200px;
        height: 100px;

        .icon {
          margin: 0 20px;
        }

        .content {
          display: flex;
          flex-direction: column;
          text-align: left;
          justify-content: center;
          max-height: 100px;
          gap: 5px;

          .value-content {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
          }

          .type-content {
            margin: 0;
            font-size: 12px;
            color: #74798C;
          }
        }
      }
    }
  }
}